.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 1.5rem;

}

label{
    color: #fff;
    font-size: 2rem;
    margin: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-in {
    flex: 1;
    font-size: 0.9rem;
    width: 15rem;
    color: #fff;
    background: #130f2a;
    border-radius: 0.6rem;
    border: 1.5px solid #6751b9;
    padding: 1rem;

}

.form-button {
    font-size: 1rem;
    font-weight: 500;
    width: 7.5rem;
    color: #fff;
    border: 1.5px solid #a892fe;
    border-radius: 0.6rem;
    background: linear-gradient(90deg, #a892fe 0%, #8064e8 100%);
    padding: 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form-button:hover{
    color: #a892fe;
    background: transparent;
}

p {
    color: #fff;
    font-size: 1.2rem;
}

.link {
    color: #10bccf;
}